$body-color: #F0F0EF;
$panel-background: white;
$main-box-shadow: #474747;
$secondary-text: rgb(100, 100, 100);
$button-brg: #FAFAFA;
$button-b: #D6D6D6;
$alert-box-brg: #F9DFDF;
$alert-box-text: #971211;
$table-b-secondary: #CDCCCD;